a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.container {
  text-align: center;
  padding: 15px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.graphContainer {
  display: flex;
  flex-direction: column;
}

.container p {
  padding-top: 10px;
  color: #666;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#graphs {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #f3faff, #2c88b1);
  border-radius: 0 0 1em 0;
  transition: transform 0.5s ease;
}

#profile {
 margin: 50px;
}

#profile-content {
  display: flex;
}

#profile-datasets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-graphs {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  align-items: center;
}

#profile-graphs-wrap {
  display: flex;
  flex-wrap: wrap;
}

#profile-graphs-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}