a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.container {
  text-align: center;
  padding: 15px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.graphContainer {
  display: flex;
  flex-direction: column;
}

.container p {
  padding-top: 10px;
  color: #666;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#graphs {
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
